In [1]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [3]:
import pandas as pd
import numpy as np
import gzip

In [4]:
!cd dw-data

In [5]:
!dir dw-data

201606scripts_sample.csv.gz  chem.csv.gz
201701scripts_sample.csv.gz  practices.csv.gz

In [6]:
# load the 2017 data
with gzip.open('./dw-data/201701scripts_sample.csv.gz', 'rb') as f:
    scripts = pd.read_csv(f)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
with gzip.open('./dw-data/practices.csv.gz', 'rb') as p:
    practices = pd.read_csv(p, names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [8]:
with gzip.open('./dw-data/chem.csv.gz', 'rb') as ch:
    chem = pd.read_csv(ch)
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [11]:
scripts.describe()

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [12]:
scripts['items'].mean()

9.133135976111625

In [13]:
scripts['items'].sum()

8888304

In [14]:
scripts['items'].std()

29.204198282803603

In [15]:
scripts['items'].quantile(0.25)

1.0

In [16]:
def describe(df, key):
    desc = df[key].describe()
    return (df[key].sum(), desc['mean'], desc['std'], desc['25%'], desc['50%'], desc['75%'])

In [17]:
summary_stats = [('items', describe(scripts, 'items')),
                 ('quantity', describe(scripts, 'quantity')),
                 ('nic', describe(scripts, 'nic')),
                 ('act_cost', describe(scripts, 'act_cost'))]

In [18]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================


# Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the pw miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the groupby method. This process is detailed in the Pandas documentation.

Use groupby to calculate the total number of items dispensed for each `bnf_name`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [19]:
total_items_despensed = scripts.groupby(['bnf_name'])['items'].sum()

In [20]:
total_items_despensed.iloc[:5]

bnf_name
365 Film 10cm x 12cm VP Adh Film Dress      2
365 Non Adherent 10cm x 10cm Pfa Plas Fa    3
365 Non Adherent 10cm x 20cm Pfa Plas Fa    1
365 Non Woven Island 8cm x 10cm Adh Dres    1
365 Transpt Island 5cm x 7.2cm VP Adh Fi    2
Name: items, dtype: int64

In [21]:
total_items_despensed.max()

218583

In [22]:
total_items_despensed.idxmax()

'Omeprazole_Cap E/C 20mg'

In [23]:
total_items_despensed.idxmax(), total_items_despensed.max()

('Omeprazole_Cap E/C 20mg', 218583)

In [24]:
most_common_item = [(total_items_despensed.idxmax(), total_items_despensed.max())]

In [25]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [26]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [27]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [28]:
practices.shape

(12020, 7)

In [29]:
practice_postal = practices.groupby('code')['post_code'].min().reset_index()
practice_postal.head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [30]:
# join practice_postal to scripts
merged_scripts = scripts.merge(practice_postal, left_on='practice', right_on='code', left_index=False, right_index=False)
merged_scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,CH44 5UF

In [31]:
merged_scripts.shape

(973193, 9)

In [32]:
total_bnf_post = merged_scripts.groupby(['bnf_name', 'post_code'])['items'].sum().reset_index()
total_bnf_post = total_bnf_post.sort_values('items', ascending=False).groupby('post_code').first()
total_bnf_post.head()

                                     bnf_name  items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706
B12 9LP                     Paracet_Tab 500mg    425
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556
B21 9RY               Metformin HCl_Tab 500mg   1033
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599

In [33]:
total_by_post = merged_scripts.groupby('post_code')['items'].sum().reset_index()
total_by_post.head()

  post_code  items
0   B11 4BW  22731
1   B12 9LP  17073
2   B18 7AL  20508
3   B21 9RY  31027
4   B23 6DJ  28011

In [34]:
# Then merge with total_by_post with total_bnf_post
merged_items= total_bnf_post.merge(total_by_post, on='post_code')
merged_items.head()

  post_code                            bnf_name  items_x  items_y
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF      706    22731
1   B12 9LP                   Paracet_Tab 500mg      425    17073
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF      556    20508
3   B21 9RY             Metformin HCl_Tab 500mg     1033    31027
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)      599    28011

In [35]:
merged_items['amount_dispensed'] = merged_items['items_x']/merged_items['items_y']
merged_items.head()

,post_code,bnf_name,items_x,items_y,amount_dispensed
0,B11 4BW,Salbutamol_Inha 100mcg (200 D) CFF,706,22731,0.031059
1,B12 9LP,Paracet_Tab 500mg,425,17073,0.024893
2,B18 7AL,Salbutamol_Inha 100mcg (200 D) CFF,556,20508,0.027111
3,B21 9RY,Metformin HCl_Tab 500mg,1033,31027,0.033294
4,B23 6DJ,Lansoprazole_Cap 30mg (E/C Gran),599,28011,0.021384

In [36]:
common_items_by_region = merged_items[['post_code', 'bnf_name', 'amount_dispensed']].head(100)

In [37]:
common_items_by_region.head()

  post_code                            bnf_name  amount_dispensed
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF          0.031059
1   B12 9LP                   Paracet_Tab 500mg          0.024893
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF          0.027111
3   B21 9RY             Metformin HCl_Tab 500mg          0.033294
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)          0.021384

In [38]:
items_by_region = [row[1:] for row in common_items_by_region.itertuples()]

In [39]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [165]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [166]:
ops = "|".join(opioids)
ops

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

In [167]:
chem.head()

    bnf_code                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [168]:
chem.shape

(3481, 2)

In [169]:
chem = chem.rename(columns={'CHEM SUB': 'bnf_code'}).drop_duplicates('bnf_code')

In [170]:
scripts_chem = pd.merge(scripts, chem, left_on='bnf_code', right_on='bnf_code', how='left', sort=False, right_index=False, left_index=False)

scripts_chem['is_opioid'] = scripts_chem["NAME"].str.contains(ops, na=False, case=False, regex=True)

In [171]:
scripts_chem[scripts_chem['is_opioid']==True].iloc[:3]

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,NAME,is_opioid
6,N85639,0407010F0,Co-Codamol_Cap 30mg/500mg,1,0.84,0.89,24,Co-Codamol (Codeine Phos/Paracetamol),True
7,N85639,0407010F0,Zapain_Tab 30mg/500mg,1,3.03,2.82,100,Co-Codamol (Codeine Phos/Paracetamol),True
527,N81013,0407010F0,Co-Codamol_Tab 8mg/500mg,37,101.91,96.13,3446,Co-Codamol (Codeine Phos/Paracetamol),True

In [172]:
scripts_chem.isnull().sum()

practice          0
bnf_code          0
bnf_name          0
items             0
nic               0
act_cost          0
quantity          0
NAME         118749
is_opioid         0
dtype: int64

In [173]:
scripts_chem.fillna(0, inplace=True)

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [174]:
opioid_scripts_per_practice = scripts_chem[['practice', 'is_opioid', 'bnf_name']].groupby(['practice']).agg({'is_opioid': 'sum', 'bnf_name': 'count'})

In [175]:
opioid_scripts_per_practice = opioid_scripts_per_practice.rename(columns={'bnf_name': 'number_of_scripts', 'is_opioid': 'opioid_script_count'})

In [176]:
opioid_scripts_per_practice.iloc[:3]

          opioid_script_count  number_of_scripts
practice
A81005                   50.0               1507
A81007                   63.0               1454
A81011                   73.0               1568

In [177]:
opioid_scripts_per_practice['opioids_per_practice']= opioid_scripts_per_practice['opioid_script_count'] / opioid_scripts_per_practice['number_of_scripts'] 
opioid_scripts_per_practice = opioid_scripts_per_practice.reset_index()
opioid_scripts_per_practice.head()

  practice  opioid_script_count  number_of_scripts  opioids_per_practice
0   A81005                 50.0               1507              0.033179
1   A81007                 63.0               1454              0.043329
2   A81011                 73.0               1568              0.046556
3   A81012                 57.0               1332              0.042793
4   A81017                 82.0               2150              0.038140

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [178]:
overall_opioid_rate = scripts_chem['is_opioid'].mean()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [179]:
opioid_scripts_per_practice['relative_opioids_per_practice'] = opioid_scripts_per_practice['opioids_per_practice'] - overall_opioid_rate

In [180]:
opioid_scripts_per_practice['stderr'] = np.sqrt((overall_opioid_rate*(1-overall_opioid_rate)) / opioid_scripts_per_practice['number_of_scripts'])

In [181]:
opioid_scripts_per_practice['z_scores'] = (opioid_scripts_per_practice['relative_opioids_per_practice'] / opioid_scripts_per_practice['stderr'])

In [182]:
opioid_scripts_per_practice.head()

,practice,opioid_script_count,number_of_scripts,opioids_per_practice,relative_opioids_per_practice,stderr,z_scores
0,A81005,50.0,1507,0.033179,-0.002624,0.004786,-0.548306
1,A81007,63.0,1454,0.043329,0.007526,0.004873,1.544558
2,A81011,73.0,1568,0.046556,0.010753,0.004692,2.291796
3,A81012,57.0,1332,0.042793,0.006990,0.005091,1.373061
4,A81017,82.0,2150,0.038140,0.002337,0.004007,0.583168

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [183]:
unique_practices = practices.sort_values(by='name').groupby('code', sort=False).first()
unique_practices.reset_index(inplace=True)
unique_practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,P87657,(IRLAM) SALFORD CARE CTRS MEDICAL PRACTI,SALFORD CARE CTR(IRLAM),125 LIVERPOOL ROAD,IRLAM,MANCHESTER,M44 6DP
1,Y05381,0-19 EAST CHESHIRE HEALTH VISITORS,SALINAE CLINIC,LEWIN STREET,MIDDLEWICH,CHESHIRE,CW10 9FG
2,Y04082,0-19 PUBLIC HEALTH SERVICE HARTLEPOOL,CHATHAM CHILDRENS CENTRE,29 CHATHAM ROAD,HARTLEPOOL,NaN,TS24 8QG
3,Y00364,1 TO 1 CENTRE,BRENKLEY AVENUE,SHIREMOOR,NEWCASTLE UPON TYNE,NaN,NE27 0PR
4,P87652,1/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,NaN,M7 1RD

In [186]:
merged_results = opioid_scripts_per_practice.merge(unique_practices[['name', 'code']], left_on='practice', right_on='code', how='left')
merged_results.head()

,practice,opioid_script_count,number_of_scripts,opioids_per_practice,relative_opioids_per_practice,stderr,z_scores,name,code
0,A81005,50.0,1507,0.033179,-0.002624,0.004786,-0.548306,SPRINGWOOD SURGERY,A81005
1,A81007,63.0,1454,0.043329,0.007526,0.004873,1.544558,BANKHOUSE SURGERY,A81007
2,A81011,73.0,1568,0.046556,0.010753,0.004692,2.291796,CHADWICK PRACTICE,A81011
3,A81012,57.0,1332,0.042793,0.006990,0.005091,1.373061,WESTBOURNE MEDICAL CENTRE,A81012
4,A81017,82.0,2150,0.038140,0.002337,0.004007,0.583168,WOODBRIDGE PRACTICE,A81017

In [187]:
merged_results.sort_values('z_scores', ascending = False , inplace=True)
results = merged_results[['name', 'z_scores', 'number_of_scripts']]

anomalies = [tuple(value) for value in results.values][:100]
anomalies[:3]

[('NATIONAL ENHANCED SERVICE', 11.695823871932637, 7),
 ('OUTREACH SERVICE NH / RH', 7.339046789841712, 2),
 ('BRISDOC HEALTHCARE SERVICES OOH', 6.150584909087286, 60)]

In [188]:
11.6958178629 - 11.695823871932637

-6.009032636811185e-06

In [189]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [204]:
with gzip.open('./dw-data/201606scripts_sample.csv.gz') as script:
    scripts16 = pd.read_csv(script)

In [205]:
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [206]:
raw_2017_count = scripts.groupby(['bnf_name'])['items'].count().rename('raw_2017_count')
raw_2016_count = scripts16.groupby(['bnf_name'])['items'].count().rename('raw_2016_count')

In [209]:
growth = ((raw_2017_count - raw_2016_count)/raw_2016_count).reset_index(name='growth_rate')
growth_df = growth.merge(raw_2016_count.reset_index(), on ='bnf_name')
growth_df.fillna(0, inplace=True)
growth_df.head()

                                   bnf_name  growth_rate  raw_2016_count
0    365 Film 15cm x 20cm VP Adh Film Dress          0.0               1
1      365 Film 4cm x 5cm VP Adh Film Dress          0.0               1
2  365 Non Adherent 10cm x 10cm Pfa Plas Fa          0.0               3
3  365 Non Woven Island 10cm x 10cm Adh Dre          0.0               1
4  365 Non Woven Island 10cm x 15cm Adh Dre          0.0               1

In [210]:
growth_df = growth_df[growth_df['raw_2016_count'] >= 50]
growth_df.head()

                                    bnf_name  growth_rate  raw_2016_count
10  3m Health Care_Cavilon Durable Barrier C    -0.010909             825
11  3m Health Care_Cavilon No Sting 1ml Barr    -0.034632             231
12  3m Health Care_Cavilon No Sting 3ml Barr    -0.104762             105
13   3m Health Care_Cavilon No Sting Barrier    -0.092511             454
16         A.S Saliva Orthana Spy 50ml (App)     0.440476              84

In [211]:
growth_df.sort_values(by='growth_rate', ascending=False, inplace=True)
growth_df.head()

                                       bnf_name  growth_rate  raw_2016_count
1745            Butec_Transdermal Patch 5mcg/hr     3.467742              62
1743           Butec_Transdermal Patch 10mcg/hr     3.000000              69
5114   Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.430233              86
9907      Pneumococcal_Vac 0.5ml Vl (23 Valent)     1.269430             193
11710  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.269231              52

In [212]:
script_growth = list(pd.concat([growth_df.head(50), growth_df.tail(50)]).itertuples(index=False, name=None))

script_growth[:3]

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86)]

In [213]:
#script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [214]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [215]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [216]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [217]:
unique_bnf_code = scripts.bnf_code.nunique()
p = 1/unique_bnf_code
rates = scripts.bnf_code.value_counts()/len(scripts)
rare = rates < .1 * p

rare_codes = rates[rare].index.unique()
scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

In [218]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [219]:
total_cost_per_practice = scripts.groupby('practice')['act_cost'].sum().reset_index(name='total_cost_per_practice')
total_cost_per_practice.iloc[:3]

  practice  total_cost_per_practice
0   A81005                103840.82
1   A81007                113482.49
2   A81011                159507.03

In [220]:
rare_cost_per_practice = (scripts[scripts['rare']==True].groupby(
    'practice')['act_cost'].sum().reset_index(name = 'rare_cost_per_practice'))
script_costs = total_cost_per_practice.merge(rare_cost_per_practice, on='practice', how='left')
script_costs.iloc[:3]

  practice  total_cost_per_practice  rare_cost_per_practice
0   A81005                103840.82                 1247.83
1   A81007                113482.49                  951.06
2   A81011                159507.03                  816.02

In [221]:
script_costs['rare_cost_prop'] =script_costs['rare_cost_per_practice'] / script_costs['total_cost_per_practice']
script_costs.iloc[:3]

  practice  total_cost_per_practice  rare_cost_per_practice  rare_cost_prop
0   A81005                103840.82                 1247.83        0.012017
1   A81007                113482.49                  951.06        0.008381
2   A81011                159507.03                  816.02        0.005116

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [222]:
script_costs['relative_rare_cost_prop'] = (script_costs['rare_cost_prop'] - scripts[scripts['rare']==True]['act_cost'].sum() / scripts['act_cost'].sum())

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [223]:
script_costs['standard_errors'] = script_costs['relative_rare_cost_prop'].std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [224]:
script_costs['z_scores'] = (script_costs['relative_rare_cost_prop'] / script_costs['standard_errors'])
script_costs.fillna(0, inplace=True)
script_costs.iloc[:3]

,practice,total_cost_per_practice,rare_cost_per_practice,rare_cost_prop,relative_rare_cost_prop,standard_errors,z_scores
0,A81005,103840.82,1247.83,0.012017,-0.003946,0.063534,-0.062111
1,A81007,113482.49,951.06,0.008381,-0.007582,0.063534,-0.119342
2,A81011,159507.03,816.02,0.005116,-0.010847,0.063534,-0.170728

In [225]:
unique_practices = practices.sort_values('name').groupby('code', sort=False).first()
unique_practices.reset_index(inplace=True)
final_scripts = script_costs.merge(
    unique_practices[['name', 'code']], how = 'inner', left_on = 'practice', right_on = 'code', sort = False)

In [226]:
final_scripts.iloc[:3]

,practice,total_cost_per_practice,rare_cost_per_practice,rare_cost_prop,relative_rare_cost_prop,standard_errors,z_scores,name,code
0,A81005,103840.82,1247.83,0.012017,-0.003946,0.063534,-0.062111,SPRINGWOOD SURGERY,A81005
1,A81007,113482.49,951.06,0.008381,-0.007582,0.063534,-0.119342,BANKHOUSE SURGERY,A81007
2,A81011,159507.03,816.02,0.005116,-0.010847,0.063534,-0.170728,CHADWICK PRACTICE,A81011

In [227]:
final_scripts = final_scripts.sort_values(by='name', ascending=True)
rare_scripts = [(row['practice'], row['name'], row['z_scores']) for index, row in final_scripts.iterrows()]

In [228]:
rare_scripts = sorted(rare_scripts, key=lambda x: x[2], reverse = True)[:100]
rare_scripts[:3]

[('Y03472', 'CONSULTANT DIABETES TEAM', 15.488406625215609),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 14.408360263244049),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.183051624616913)]

In [229]:
#rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [230]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*